<form action="" method="post" id="QR-form">

    Number of QRs:<br>
    <input type="number" name="number" value="1" id="numberOfQR"><br>
    QR-Links (please use the writing form "first link", "more links", "last link"):<br>
    <input type="text" name="links" value="Your link - please dont forget the quotation marks"><br>
    Data format:<br>
    <fieldset>
        <input type="radio" id="jpg" name="dataformat" value="jpg"><br>
        <label for="jpg">jpg</label><br>
        <input type="radio" id="jpeg" name="dataformat" value="jpeg"><br>
        <label for="jpeg">jpeg</label><br>
        <input type="radio" id="png" name="dataformat" value="png"><br>
        <label for="png">png</label><br>
        <input type="radio" id="svg" name="dataformat" value="svg"><br>
        <label for="svg">svg</label><br>
        <input type="radio" id="pdf" name="dataformat" value="pdf"><br>
        <label for="pdf">pdf</label><br>
    </fieldset>
    Color:<br>
    <input type="text" name="color" value="black"><br>
    Resolution (dpi):<br>
    <input type="number" name="resolution_dpi" value="96"><br>er
    Size (height=width) in px:<br>
    <input type="number" name="size" value="300"><br><br>
    <input type="submit" id="submit" name="submit" value="Submit" onclick="alert('Hello worldWWWWWWWWWWW'), alert('test'), window.location.href('localhost:25020') return false">
</form>

{% if block_data.qrArray %}
    <ul>
        {% for qrcode in block_data.qrArray %}
            <img width="200" height="200" alt="qr" src="{{ qrcode|raw }}">
        {% endfor %}
    </ul>
{% endif %}